examples/complete-flow.json
[
    {
        "id": "myskoda-cred-1",
        "type": "myskoda-credentials",
        "name": "MySkoda Account"
    },
    {
        "id": "myskoda-flow-1",
        "type": "tab",
        "label": "MySkoda - All Operations",
        "disabled": false,
        "info": "Complete flow with all myskoda-get and myskoda-set operations.\nSet your credentials in the MySkoda Account config node.\nUpdate VIN, SPIN, and coordinates in the inject nodes.",
        "env": []
    },
    {
        "id": "myskoda-debug",
        "type": "debug",
        "z": "myskoda-flow-1",
        "name": "Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 60,
        "wires": []
    },
    {
        "id": "comment-get",
        "type": "comment",
        "z": "myskoda-flow-1",
        "name": "── GET Vehicle Data ──",
        "info": "",
        "x": 140,
        "y": 20,
        "wires": []
    },
    {
        "id": "inject-get-basic",
        "type": "inject",
        "z": "myskoda-flow-1",
        "name": "Get Basic Data",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 60,
        "wires": [["get-basic"]]
    },
    {
        "id": "get-basic",
        "type": "myskoda-get",
        "z": "myskoda-flow-1",
        "name": "Basic Info",
        "account": "myskoda-cred-1",
        "queryParking": false,
        "queryClimater": false,
        "queryCharger": false,
        "queryMaintenance": false,
        "x": 390,
        "y": 60,
        "wires": [["myskoda-debug"]]
    },
    {
        "id": "inject-get-all",
        "type": "inject",
        "z": "myskoda-flow-1",
        "name": "Get All Data",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 110,
        "wires": [["get-all"]]
    },
    {
        "id": "get-all",
        "type": "myskoda-get",
        "z": "myskoda-flow-1",
        "name": "All Data",
        "account": "myskoda-cred-1",
        "queryParking": true,
        "queryClimater": true,
        "queryCharger": true,
        "queryMaintenance": true,
        "x": 380,
        "y": 110,
        "wires": [["myskoda-debug"]]
    },
    {
        "id": "comment-ac",
        "type": "comment",
        "z": "myskoda-flow-1",
        "name": "── Air Conditioning ──",
        "info": "",
        "x": 140,
        "y": 170,
        "wires": []
    },
    {
        "id": "inject-start-ac",
        "type": "inject",
        "z": "myskoda-flow-1",
        "name": "Start AC",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 210,
        "wires": [["set-start-ac"]]
    },
    {
        "id": "set-start-ac",
        "type": "myskoda-set",
        "z": "myskoda-flow-1",
        "name": "",
        "account": "myskoda-cred-1",
        "command": "startAC",
        "x": 390,
        "y": 210,
        "wires": [["myskoda-debug"]]
    },
    {
        "id": "inject-stop-ac",
        "type": "inject",
        "z": "myskoda-flow-1",
        "name": "Stop AC",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 260,
        "wires": [["set-stop-ac"]]
    },
    {
        "id": "set-stop-ac",
        "type": "myskoda-set",
        "z": "myskoda-flow-1",
        "name": "",
        "account": "myskoda-cred-1",
        "command": "stopAC",
        "x": 390,
        "y": 260,
        "wires": [["myskoda-debug"]]
    },
    {
        "id": "inject-temperature",
        "type": "inject",
        "z": "myskoda-flow-1",
        "name": "Set Temperature 22°C",
        "props": [
            {"p": "payload", "v": "22", "vt": "num"}
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 160,
        "y": 310,
        "wires": [["set-temperature"]]
    },
    {
        "id": "set-temperature",
        "type": "myskoda-set",
        "z": "myskoda-flow-1",
        "name": "",
        "account": "myskoda-cred-1",
        "command": "temperature",
        "x": 400,
        "y": 310,
        "wires": [["myskoda-debug"]]
    },
    {
        "id": "comment-window",
        "type": "comment",
        "z": "myskoda-flow-1",
        "name": "── Window Heating ──",
        "info": "",
        "x": 140,
        "y": 370,
        "wires": []
    },
    {
        "id": "inject-start-wh",
        "type": "inject",
        "z": "myskoda-flow-1",
        "name": "Start Window Heating",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 410,
        "wires": [["set-start-wh"]]
    },
    {
        "id": "set-start-wh",
        "type": "myskoda-set",
        "z": "myskoda-flow-1",
        "name": "",
        "account": "myskoda-cred-1",
        "command": "startWindowHeating",
        "x": 420,
        "y": 410,
        "wires": [["myskoda-debug"]]
    },
    {
        "id": "inject-stop-wh",
        "type": "inject",
        "z": "myskoda-flow-1",
        "name": "Stop Window Heating",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 460,
        "wires": [["set-stop-wh"]]
    },
    {
        "id": "set-stop-wh",
        "type": "myskoda-set",
        "z": "myskoda-flow-1",
        "name": "",
        "account": "myskoda-cred-1",
        "command": "stopWindowHeating",
        "x": 420,
        "y": 460,
        "wires": [["myskoda-debug"]]
    },
    {
        "id": "comment-charging",
        "type": "comment",
        "z": "myskoda-flow-1",
        "name": "── Charging ──",
        "info": "",
        "x": 120,
        "y": 520,
        "wires": []
    },
    {
        "id": "inject-start-charging",
        "type": "inject",
        "z": "myskoda-flow-1",
        "name": "Start Charging",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 560,
        "wires": [["set-start-charging"]]
    },
    {
        "id": "set-start-charging",
        "type": "myskoda-set",
        "z": "myskoda-flow-1",
        "name": "",
        "account": "myskoda-cred-1",
        "command": "startCharging",
        "x": 400,
        "y": 560,
        "wires": [["myskoda-debug"]]
    },
    {
        "id": "inject-stop-charging",
        "type": "inject",
        "z": "myskoda-flow-1",
        "name": "Stop Charging",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 610,
        "wires": [["set-stop-charging"]]
    },
    {
        "id": "set-stop-charging",
        "type": "myskoda-set",
        "z": "myskoda-flow-1",
        "name": "",
        "account": "myskoda-cred-1",
        "command": "stopCharging",
        "x": 400,
        "y": 610,
        "wires": [["myskoda-debug"]]
    },
    {
        "id": "inject-charge-limit",
        "type": "inject",
        "z": "myskoda-flow-1",
        "name": "Set Charge Limit 80%",
        "props": [
            {"p": "payload", "v": "80", "vt": "num"}
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 160,
        "y": 660,
        "wires": [["set-charge-limit"]]
    },
    {
        "id": "set-charge-limit",
        "type": "myskoda-set",
        "z": "myskoda-flow-1",
        "name": "",
        "account": "myskoda-cred-1",
        "command": "setChargeLimit",
        "x": 400,
        "y": 660,
        "wires": [["myskoda-debug"]]
    },
    {
        "id": "comment-access",
        "type": "comment",
        "z": "myskoda-flow-1",
        "name": "── Vehicle Access ──",
        "info": "",
        "x": 140,
        "y": 720,
        "wires": []
    },
    {
        "id": "inject-lock",
        "type": "inject",
        "z": "myskoda-flow-1",
        "name": "Lock",
        "props": [{"p": "payload"}],
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 90,
        "y": 760,
        "wires": [["set-lock"]]
    },
    {
        "id": "set-lock",
        "type": "myskoda-set",
        "z": "myskoda-flow-1",
        "name": "",
        "account": "myskoda-cred-1",
        "command": "lock",
        "x": 370,
        "y": 760,
        "wires": [["myskoda-debug"]]
    },
    {
        "id": "inject-unlock",
        "type": "inject",
        "z": "myskoda-flow-1",
        "name": "Unlock",
        "props": [{"p": "payload"}],
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 100,
        "y": 810,
        "wires": [["set-unlock"]]
    },
    {
        "id": "set-unlock",
        "type": "myskoda-set",
        "z": "myskoda-flow-1",
        "name": "",
        "account": "myskoda-cred-1",
        "command": "unlock",
        "x": 380,
        "y": 810,
        "wires": [["myskoda-debug"]]
    },
    {
        "id": "comment-signals",
        "type": "comment",
        "z": "myskoda-flow-1",
        "name": "── Signals ──",
        "info": "",
        "x": 110,
        "y": 870,
        "wires": []
    },
    {
        "id": "inject-honk-flash",
        "type": "inject",
        "z": "myskoda-flow-1",
        "name": "Honk & Flash",
        "props": [
            {"p": "latitude", "v": "50.0755", "vt": "num"},
            {"p": "longitude", "v": "14.4378", "vt": "num"}
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 910,
        "wires": [["set-honk-flash"]]
    },
    {
        "id": "set-honk-flash",
        "type": "myskoda-set",
        "z": "myskoda-flow-1",
        "name": "",
        "account": "myskoda-cred-1",
        "command": "honkAndFlash",
        "x": 400,
        "y": 910,
        "wires": [["myskoda-debug"]]
    },
    {
        "id": "inject-flash",
        "type": "inject",
        "z": "myskoda-flow-1",
        "name": "Flash Only",
        "props": [
            {"p": "latitude", "v": "50.0755", "vt": "num"},
            {"p": "longitude", "v": "14.4378", "vt": "num"}
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 120,
        "y": 960,
        "wires": [["set-flash"]]
    },
    {
        "id": "set-flash",
        "type": "myskoda-set",
        "z": "myskoda-flow-1",
        "name": "",
        "account": "myskoda-cred-1",
        "command": "flash",
        "x": 370,
        "y": 960,
        "wires": [["myskoda-debug"]]
    },
    {
        "id": "inject-wakeup",
        "type": "inject",
        "z": "myskoda-flow-1",
        "name": "Wake Up",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 1010,
        "wires": [["set-wakeup"]]
    },
    {
        "id": "set-wakeup",
        "type": "myskoda-set",
        "z": "myskoda-flow-1",
        "name": "",
        "account": "myskoda-cred-1",
        "command": "wakeup",
        "x": 380,
        "y": 1010,
        "wires": [["myskoda-debug"]]
    }
]
